<%-include("./partials/header") %>
<%-include("./partials/nav") %>

<div class="w-full h-[100vh] flex  flex-col gap-10 items-center justify-start mt-10 bg-zink-800">
  <h1 class="text-4xl font-semibold">All APPOINTMENTS</h1>
  
  <ol class="list-decimal md:w-[70vw] w-full flex flex-col flex-wrap items-center gap-10 mt-5 bg-gray-200 px-5 py-10">
    <% allApointments.appointments.forEach((app)=>{ %>
      <li class="md:w-full flex gap-10 md:gap-0 flex-wrap items-center justify-between border-b border-gray-400 px-3 py-1">
        <span class="md:w-[30%]"><%=app.fullname%></span>
        <span class="md:w-[20%]"><%=app.age%></span>
        <span class="md:w-[25%]"><%= app.sedule.toString().slice(4, 16) %></span> 
        <span class="md:w-[15%] flex justify-between"><p class="text-green-600"><%=app.status%> *</p> </span> 
      </li>
    <% }) %>  
  </ol>
</div>

<%-include("./partials/footer") %>